params {
	output_dir = "results"
	rawfile_dir = "raw_files"
	meta_file = "sample.csv"
	reference_genome = "rabies_virus.fna"
	rawfile_type = "fastq"
}

conda.enabled = true

executor {
	name = 'local'
	queueSize = 5 // Limits the executor to run one process at a time
}

manifest {

    name		= 'sandeepkasaragod/EPI2ME_testing'
    author		= 'EPI2ME_testing'
    homePage		= 'https://github.com/sandeepkasaragod/EPI2ME_testing'
    description		= 'Alignment'
    mainScript		= 'main.nf'
    nextflowVersion	= '23.10.0'
    version		= 'v1.0.0'

}
